<header styles="positon:sticky;" class="navbar">
  <div class="logo-container">
    <img src="assets/images/logov4.png" alt="AutoServe Logo" class="logo" />
  </div>

  <button class="hamburger" (click)="toggleMobileMenu()">&#9776;</button>

  <nav class="nav-links" [ngClass]="{ 'show': mobileMenuOpen }">

    <!-- Role: User -->
    <ng-container *ngIf="isLoggedIn && userRole === 'User'">
      <a routerLink="/user-dashboard" (click)="closeMobileMenu()">Dashboard</a>
      <a routerLink="/book-service" (click)="closeMobileMenu()">Book Service</a>
      <a routerLink="/vehicles" (click)="closeMobileMenu()">My Vehicles</a>
      <a routerLink="/my-bookings" (click)="closeMobileMenu()">My Bookings</a>
      <a routerLink="/invoices" (click)="closeMobileMenu()">Invoices</a>
      <a routerLink="/profile" (click)="closeMobileMenu()">Profile</a>
      <a (click)="logout()">Logout</a>
    </ng-container>

    <!-- Role: ServiceCenter -->
    <ng-container *ngIf="isLoggedIn && userRole === 'ServiceCenter'">
      <a routerLink="/service-center-dashboard" (click)="closeMobileMenu()">Dashboard</a>
      <a routerLink="/service-center/appointments" (click)="closeMobileMenu()">Appointments</a>
      <a routerLink="/service-center/mechanics" (click)="closeMobileMenu()">Mechanics</a>
      <a routerLink="/service-center/manage-services" (click)="closeMobileMenu()">Services</a>
      <a routerLink="/profile" (click)="closeMobileMenu()">Profile</a>
      <a (click)="logout()">Logout</a>
    </ng-container>

    <!-- Not Logged In -->
    <ng-container *ngIf="!isLoggedIn">
      <button class="btn-outline menu-btn" routerLink="/login" (click)="toggleLogin()">Login</button>
      <button class="btn-filled menu-btn" routerLink="/register" (click)="closeMobileMenu()">Register</button>
    </ng-container>
  </nav>
</header>